<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Test - Flickr</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }
      .flickr ul
      {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .flickr ul li
      {
        border-bottom: 0;
        margin: 0;
        padding: 0;
      }

      .flickr_photo
      {
        width: 75px;
        height: 75px;
        padding: 12px 10px 32px 13px;
        margin: 0;
        background: #fff url(/images/polaroid.jpg) no-repeat;
      }

    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>